#Conditions{
box-sizing: border-box;
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
border: 1px solid rgba(255, 255, 255, 0.07);
height: 20%;
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 2fr 1fr;
gap: 10px;
padding: 15px 0px;
}

#Conditions > div{
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#Conditions > div:nth-child(n + 4){
    height: 100%;
    font-size: 2rem;
    line-height: 100%;
}

#Conditions > div:nth-child(n + 7){
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.7rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}