:root{
    --sunny-icon:url('./images/sunny-icon.png');
    --rainy-icon:url('./images/rainy-icon.png');
    --cloudy-icon:url('./images/cloudy-icon.png');
    --snowy-icon:url('./images/snowy-icon.png');
    --clear-icon:url('./images/clear-icon.png');
    --hazy-icon:url('./images/hazy-icon.png');
    --misty-icon:url('./images/misty-icon.png');
    --drizzle-icon:url('./images/drizzle-icon.png');
    --thunderstorm-icon:url('./images/thunderstorm-icon.png');
}

#Weather{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#Weather div:first-child{
    font-size: 4rem;
}
#Weather > div:nth-child(2){
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
#icon{
    height: 100%;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}