@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&display=swap');
:root{ 
    --clear: url('./images/clear-pc.jpg');
    --cloudy: url('./images/cloudy-pc.jpg');
    --rain: url('./images/rain-pc.jpg');
    --snow: url('./images/snow-pc.jpg');
    --sunny: url('./images/sunny-pc.jpg');
    --background: var(--rain);
    font-size: 16px;
    --default-font: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    font-family: var(--default-font);
    color: #fff;
}
body{
    padding: 0px;
    margin: 0px;
}

html{
    padding: 0px;
    margin: 0px;
}

#background{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--background);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center
}

#container{
    height: 100%;
    width: max(50%, 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

@media all and (max-width: 300px) {
    #container{
        width: 280px;
    }
}
@media all and (max-width: 1000px) {
    :root{
        --clear: url('./images/clear-mobile.jpg');
        --cloudy: url('./images/cloudy-mobile.jpg');
        --rain: url('./images/rain-mobile.jpg');
        --snow: url('./images/snow-mobile.jpg');
        --sunny: url('./images/sunny-mobile.jpg');
    }
}